body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

h1 {
  margin-bottom: 20px;
}

.tile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.tile {
  width: 200px;
  height: 200px;
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.tile:hover {
  transform: translateY(-5px);
}

.tile a {
  text-decoration: none;
  color: #333;
}

.emoji {
  font-size: 3em;
}

.name {
  font-size: 1.5em;
}
